*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

header{
    margin: 0 30px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.logo img{
    width: 30%;
}

.nav-links a{
    text-decoration: none;
    color: #010101;
    font-size: 14px;
    padding: 0 15px;
}

.nav-links a:hover{
    border-bottom: 1px solid #931415;
    color: #931415;
    font-weight: bold;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    margin: auto;
    /* align-items: center; */
}

.wrapper{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 1.5em 0; */
}

.wrapper h2{
    text-align: center;
    color: black;
    padding: 0 0 10px;
}

input.box{
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 5px rgba(0,0,0,0.4);
    outline: none;
    cursor: pointer;
    margin: 8px 0;
}

.wrapper a{
    font-size: smaller;
    text-decoration: none;
    color: black;
}

.wrapper a:hover{
    text-decoration: underline;
    color: #931415;
}

.chck{
    text-align: end;
}

.chck a{
    font-size: smaller;
    text-decoration: none;
    color: black;
}

.chck a:hover{
    text-decoration: underline;
}

.submit{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 1em;
}

.submit input{
    width: 100%;
    padding: 10px 0;
    background-color: white;
    color: black;
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

 .submit input:hover{
    background: #931415;
    color: white;
}

.txt{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.35);
}

.txt a{
    color: #931415;
    text-decoration: none;
}

hr{
   display: inline-block;
   width: 130px;
   margin: 3px 0; 
}

.call{
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.35);

}

#call{
    padding: 4px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.alt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 1em;
}

.alt a{
    border: 1px solid rgba(0, 0, 0, 0.35);
    padding: 6px 15px;
}

.alt a:nth-child(1){
    color: #931415;
    text-decoration: none;
}

.alt a:nth-child(2){
    color: #395185;
    text-decoration: none;
}

.wrap-right{
    width: 350px;
    margin: 5em 0;
}

.wrap-right h2{
    color: #931415;
    font-size: 28px;
}

/* .social-links{
    margin-top: 1em;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.social-links a{
    margin: 0 10px;
    font-size: 1.5em;
} */

footer{
    background-color: #931415;
    margin-top: .8em;
    width: 100%;
    padding: 10px 0;
}

footer .base-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .base-links a{
    color: white;
    font-size: 14px;
    padding: 0 15px;
    text-decoration: none;
}

footer .base-links a:hover{
    text-decoration: underline;
    border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {
    .nav-links{
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #F9DEDE;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-links.active{
        left: 0;
    }

    .nav-links a{
        display: block;
        margin: 2rem 0;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .container{
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper{
        margin-top: 2em;
    }

    .wrap-right{
        text-align: center;
        width: 300px;
        margin: 20px;
    }
}