@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,700&display=swap");

:root {
  --pink: #f9dede;
  --footer-red: #931415;
  --darker: #f8c8c8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: contain;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.lin {
  padding: 0.35rem 0.55rem;
  background-color: var(--footer-red);
  border-radius: 25px;
  text-align: center;
  height: 35.901058197021484px;
  width: 120.73765563964844px;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 0.75rem;
}

.header a {
  color: black;
}
/*.header a:hover {
  border-bottom: 2px solid #000;
  transition: all 0.35s ease-in-out;
}*/

.header .logo img {
  width: 100px;
  height: 100px;
}

.header .search form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .search .search-here {
  padding: 0.55rem 2rem;
  border-radius: 15px;
  border: none;
  background-color: var(--pink);
}

.header .search .search-item {
  padding: 0.35rem 0.75rem;
  background-color: var(--footer-red);
  border-radius: 20px;
  margin-left: 1.5rem;
  color: #fff;
}

.menu-toggle-btn {
  display: none;
}

.menu-toggle-btn {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 38px;
  cursor: pointer;
}

.menu-toggle-btn.close {
  transform: rotate(90deg);
  background: transparent;
}

.menu-toggle-btn .menubar-line {
  background-color: var(--footer-red);
  color: #e4e4e4;
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  z-index: 3;
}

.header .nav .nav-list-items {
  display: flex;
}

.header .nav .nav-list-items li {
  margin: 0 1.5rem;
}

/* main area*/

.shop-p {
  display: grid;
  place-items: center;
  padding: 0.45rem 0.65rem;
  border: 1px solid #000;
  width: fit-content;
  height: fit-content;
  text-align: center;
  height: 54.97294616699219px;
  width: 110.44573211669922px;
  border-radius: 25px;
}

.main .wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

.main .wrapper .left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.main .wrapper .left .left-wrap .product-details p {
  margin: 0.45rem 0;
}

.main .wrapper .left .right-wrap .righty {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
}

.main .wrapper .left .right-wrap .right-items {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main .wrapper .left .right-wrap .buy {
  display: flex;
  justify-content: space-around;
}

.main .wrapper .left .right-wrap .right-items p {
  margin: 0.75rem 0;
}

.main .wrapper .right {
  padding: 1rem;
  border: 1px solid var(--footer-red);
  height: fit-content;
}

.main .wrapper .right h6 {
  font-size: 15px;
  margin-bottom: 0.75rem;
  text-align: center;
}

.main .wrapper .right .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .wrapper .right .input input {
  padding: 0.45rem 1rem;
  margin-right: 0.65rem;
  border-radius: 15px;
  border: none;
  background-color: var(--pink);
}

.main .wrapper .right .input .lin {
  padding: 0.25rem 0.65rem;
  background-color: #55acee;
  border-radius: 20px;
  color: #fff;
}

.main .wrapper .right .socials p {
  padding: 0.25rem 0.55rem;
  width: 60%;
  border-radius: 25px;
  margin: 0.65rem 0;
  color: #fff;
}

.main .wrapper .right .socials .social {
  background-color: #213766;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-whatsapp {
  color: #25d366;
}

.fa-facebook-f {
  color: #0000ff;
}

/* footer area*/

.footer {
  background-color: var(--footer-red);
}

.footer .details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .details p {
  margin: 0 0.75rem;
  padding: 2rem;
}

@media (max-width: 900px) {
  .main .wrapper {
    grid-template-columns: 4fr;
  }

  .main .wrapper .right .socials p {
    width: 40%;
  }
}

@media (max-width: 764px) {
  .menu-toggle-btn {
    display: block;
    transition: all 0.45s;
  }

  /*.menu-toggle-btn {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 40px;
    cursor: pointer;
  }*/

  .header a {
    color: #fff;
  }

  .header .nav .nav-list-items {
    display: none;
    transition: all 0.45s;
  }
  .header .nav .nav-list-items.show {
    margin: 0 auto;
    position: absolute;
    background-color: var(--darker);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 85vh;
    left: 10%;
    top: 7%;
    transform: translate(-5.5%, -20%);
    /*margin: 50% auto 0;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.45s;
    color: #fff;
  }

  .header .nav .nav-list-items.show li {
    margin: 0.75rem 0;
  }

  .header .nav .nav-list-items.show li {
    margin: 0.75rem 0;
  }

  .menu-toggle-btn .middle {
    width: 22px;
  }

  .menu-toggle-btn .short {
    width: 16px;
  }

  .menu-toggle-btn.close {
    right: 25px;
    top: 20px;
  }

  .menu-toggle-btn.close .long {
    width: 28px;
    transform: rotate(125deg) translate(3px, -8px);
    transition: all 0.45s;
  }
  .menu-toggle-btn.close .middle {
    display: none;
    transform: rotate(45deg) translate(5px, 8px);
    transition: all 0.45s;
  }

  .menu-toggle-btn.close .short {
    width: 28px;
    transform: rotate(35deg) translate(3px, -4px);
    transition: all 0.45s;
  }

  .header .search .search-here {
    padding: 0.45rem 1rem;
  }

  .header .search .search-item {
    padding: 0.25rem 0.55rem;
    margin-left: 1rem;
  }

  .main .wrapper .left {
    grid-template-columns: 1fr;
  }

  .main .wrapper .right .socials p {
    width: 60%;
  }

  .footer .details p {
    margin: 0 0.45rem;
    padding: 1.5rem;
  }
}

@media (max-width: 530px) {
  .header .search form {
    display: none;
  }

  .header .search form.show {
    display: block;
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 7%;
    margin: 2rem 0;
  }

  .header .search .search-here {
    padding: 0.48rem 0.55rem;
  }

  .header .search .search-here::placeholder {
    color: #000;
  }

  .header .search .search-item {
    padding: 0.25rem 0.55rem;
    margin-left: 0.55rem;
  }

  .main .wrapper .right .socials p {
    width: 95%;
  }

  .main .wrapper .right .input input {
    padding: 0.45rem 0.85rem;
    margin-right: 0.25rem;
    border-radius: 15px;
    border: none;
    background-color: var(--pink);
  }

  .main .wrapper .right .input .lin {
    padding: 0.25rem 0.45rem;
    height: 30.901058197021484px;
    width: 100.73765563964844px;
    background-color: #55acee;
    border-radius: 20px;
    color: #fff;
  }
}

@media (max-width: 400px) {
  .shop-p {
    padding: 0.15rem 0.35rem;
    text-align: center;
    height: 35.97294616699219px;
    width: 80.44573211669922px;
    border-radius: 25px;
  }
}
